
    <div id="bottom-container">
        <div id="footer-content">
    
            <!-- begin of footer-address -->
            <div id="footer-address">
                <img src="{{relative}}assets/img/footer-logo.png " alt="Trobz">
            </div>
    
            <div id="footer-last">
                <div id="footer-menu">
                    <ul class="navigation-footer">
                        <li class="current">
                            <a href="http://trobz.com">Home</a>
                        </li>
                        <li class="page_item page-item-2">
                            <a href="http://trobz.com/about/">About</a>
                        </li>
                        <li class="page_item page-item-657">
                            <a href="http://trobz.com/openerp/">OpenERP</a>
                        </li>
                        <li class="page_item page-item-17">
                            <a href="http://trobz.com/business-applications/">Business Applications</a>
                        </li>
                        <li class="page_item page-item-22">
                            <a href="http://trobz.com/contact/">Contact</a>
                        </li>
                    </ul>
    
                </div>
                <div id="footer-copyright">
                    ©2009-2013 Trobz Limited
                </div>
            </div>
        </div>
    </div>
</div>


  </body>
</html>
