{% include header.html %}


<div id="body" class="container">
    <div class="jumbotron">
      
        <video controls style="width:100%" poster="video/booking_chart_out.jpg" preload>
          <source type="video/ogg" src="video/booking_chart_out.ogv">
          <source type="video/webm" src="video/booking_chart_out.webm">
          <source type="video/mp4" src="video/booking_chart_out.mp4">
          
          <track kind="subtitles" label="English subtitles" src="video/booking_chart.vtt" srclang="en" default></track>
          Sorry, your browser does not support HTML5 video
        </video>
    </div>
    
    <div class="content">
        {{ content }}
    </div>
</div>

{% include footer.html %}